<?xml version="1.0" ?>
<robot name="example" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find psyonic_ability_hand_model)/model/urdf/ability_hand_right.urdf.xacro" />
	<link name="world"/>

    <xacro:psyonic_ability_hand parent = "world">
        <origin xyz="0 0 0.01" rpy="0 3.1415 0"/>
    </xacro:psyonic_ability_hand>

    <gazebo reference="world">
		<static>true</static>
	</gazebo>

</robot>
